/node_modules
/public/hot
/public/images
/public/storage
/public/addons
/public/img
/public/font
/public/css/addons
/public/js/addons
/public/css/mdb*
/public/js/mdb*
/public/js/jquery*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env