@media (max-width: 600px) {

#wedding {
	padding-top: 16px!important;
    padding-bottom: 32px!important;
}

#us {
	padding-top: 32px!important;
    padding-bottom: 16px!important;
}

#wedding h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container.partyPage {
    padding: 0% 5% !important;
	background: none !important;
}

.partyPageBgrd {
    position: fixed;
    background: url('/images/peachbgrd.jpg');
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: -1;
}

#instagram_us {
	margin-top: 50px;
}
p.w3-center.w3-padding.regOptionP {
    font-size: 140%;
    margin: 0% -50%;
	color: black;
}
}