html, body, .block {
	height: 105%;
}

.parallax-container {
	height: 500px;
}

.container {
    max-width: 100% !important;
    width: 90%;
}

.hidden {
	display: none;
}

.scrollImg, .scrollImg2 {
	background-image: url("/images/scroll2.png"); 
	background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
	margin: 24px 100px !important;
	padding: 75px 0px;
}

.scrolledImg {
	padding:0px 0px 230px !important;
}

.scrolledUl {
	margin-top: 100px !important;
}

img.w3-display-middle {
    top: 55%;
}

.partyNav {
	top: 0px;
}

.divider {
	margin: 10% 0%;
}

.card .card-image img {
    /* max-height: 450px; */
}

.form-group * {
    font-size: 100% !important;
}

.partyPageBgrd {
    position: absolute;
    background: rgba(0, 0, 0, 0.11);
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
}

.bgrdShadow {
	position: absolute;
    background: rgba(0, 0, 0, 0.11);
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
}

.w3-top, .w3-bottom {
    z-index: 5;
}

.photosPageContainer {
	max-height:500px;
	background: linear-gradient(rgba(255, 176, 124, 0.9), rgba(255, 176, 124, 0.9), rgba(255, 176, 124, 0.9));
}

.photosPageContainer button.w3-display-left, .photosPageContainer div.w3-display-bottomleft {
	left: 5%
}

.photosPageContainer button.w3-display-right {
	right: 5%
}

.photosPageContainer img {
	max-height:inherit; 
	height:inherit; 
	max-width:100%; 
	margin:0 auto;
}

.comporation.grey.darken-4 h3 {
    margin: 0px;
}

.comporation.grey.darken-4 {
    margin: 0px 0px -16px;
    padding: 5px 0px;
}

p.w3-center.w3-padding.regOptionP {
	color: black;
}

.mySlides {
	max-height: 500px;
}

.card.large {
    height: 700px;
}

.middeleImg {
	max-width: 100%;
	padding: 50% 0%;
	position: relative;
}

.headerContent {
    background: radial-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 50%);
    padding: 30px;
}

.w3-display-bottommiddle {
    /* margin-left: -20px; */
}

.partyHeader span {
	display: inline-block;
}

/* .pin-bottom, .pin-top {
	position: relative;
}

.pinned {
	position: fixed !important;
} */

.card .card-image .card-title-top {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
}

.card .card-title-top {
    font-size: 24px;
    font-weight: 300;
}

.section {
    padding-left: 15%;
    padding-right: 15%;
}

.parallax-text {
	position: absolute;
	width: 100%;
}
h1.parallax-text {
	top: 20%;
	background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 65%);
}
h3.parallax-text{
	top: 50%;
	background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 65%);
}

.readMore, .readLess {
	color: darkorange;
    font-size: large;
}

img.countdownCompas {
    max-height: 200px;
    position: absolute;
    left: 1%;
    top: 1%;
}

div#getting-started {
    position: absolute;
    top: 1%;
    left: 1%;
    min-height: 200px;
    height: 200px;
    width: 200px;
    text-align: -webkit-center;
    text-align: center;
}

span#countdownClock {
    background: rgba(245, 245, 220, 0.8);
    padding: 3%;
	position: absolute;
    left: 20%;
    bottom: 45%;
    border-radius: 15px;
}

.hisStory, .herStory {
	display: none;
}

.createNewLink {
	position: absolute;
    left: -25%;
    top: 20px;
}

/*.rotateN{ transform:rotate(90deg); }
.rotateS{ transform:rotate(-90deg); } */

@media (max-width: 600px) {

body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url(/images/map3.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body .usMobile:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -9;
	background: url(/images/map5.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bgrdImage, .usMobile {
	background: none !important;
    padding: 0% !important;
}

div#getting-started {
    top: initial;
    bottom: 1%;
    left: 0%;
    min-height: 100px;
    height: 100px;
    width: 100%;
}

span#countdownClock {
    background: rgba(245, 245, 220, 0.8);
    padding: 3%;
    position: absolute;
    left: 20%;
    bottom: 45%;
    border-radius: 15px;
}

.bgimg, .bgimg2 {
    background-position: 70% 100% !important;
}

.scrollImg, .scrollImg2 {
    background-image: none;
    margin: 10px 0px !important;
    padding: 50px 0px !important;
}

.storyTime {
	padding: 0px !important;
	margin: 8px !important;
	background: rgba(255, 255, 255, 0.8);
}
.card.large {
    height: initial;
}

.headAsh {
	left: 30% !important;
    top: 7% !important;
}

.headMaine {
	right: 20% !important;
    top: 65% !important;
}

img.w3-display-middle {
    top: 45%;
}

.mobileHeader1 {
	font-size: 36px !important;
}

#wedding {
	padding: 16px 8px 32px !important;
	margin: 8px !important;
	background: rgba(255, 255, 255, 0.8);
}

#us {
	padding-top: 32px!important;
    padding-bottom: 16px!important;
}

#wedding h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container.partyPage {
    padding: 0% 5% !important;
	background: none !important;
}

.partyPageBgrd {
    position: fixed;
    background: url('/images/peachbgrd.jpg');
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: -1;
}

#instagram_us {
	margin-top: 50px;
}
p.w3-center.w3-padding.regOptionP {
    font-size: 140%;
    margin: 0% 0%;
	color: black;
}

.section {
    padding-left: 5%;
    padding-right: 5%;
}
h1.parallax-text {
	top: 5%;
	background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 90%);
}
.pagination {
    margin: 22px auto;
    display: inline-table;
}
.pagination li.active {
    background-color: initial;
}
.pagination > li {
	display: inline-block;
}
.pagination > li > span {
	font-size: 40%;
}
.pagination > li > a {
	font-size: 40%;
}

.herStory {
	padding: 20px 5px!important;
	background: radial-gradient(circle, transparent 97%, gray, red) !important;
}
.hisStory {
	padding: 20px 5px!important;
	background: radial-gradient(circle, transparent 97%, gray, blue) !important;
}
.w3-modal-content {
    margin: 0px 8% 0px 3%;
}
.comporation.grey.darken-4 {
    margin: 0px 0px -16px;
}
.photosPageContainer {
	max-height:450px; 
	min-height:250px;
}

.photosPageContainer button.w3-display-left, .photosPageContainer div.w3-display-bottomleft {
	left:0;
}

.photosPageContainer button.w3-display-right {
	right:0;
}
.directionsDiv {
    margin: 0% 0% 5% !important;
}
div#confirmation_modal {
	margin: 0% auto !important;
}
}

@media (min-width: 1400px) {
.card.large {
    height: 850px;
}
}