.parallax-container {
	height: 500px;
}

html, body, .block {
	height: 105%;
}

.partyNav {
	top: 0px;
}

.divider {
	margin: 10% 0%;
}

.card .card-image img {
    /* max-height: 450px; */
}

.partyPageBgrd {
    position: absolute;
    background: rgba(0, 0, 0, 0.11);
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
}

.w3-top, .w3-bottom {
    z-index: 2;
}

.contentBgrd {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    margin: -16px;
    border-radius: 10px;
	z-index: -1;
}

.photosPageContainer {
	max-height:500px;
	background-attachment: fixed !important;
	background-position: center center !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}

.photosPageContainer button.w3-display-left, .photosPageContainer div.w3-display-bottomleft {
	left: 5%
}

.photosPageContainer button.w3-display-right {
	right: 5%
}

.photosPageContainer img {
	max-height:inherit; 
	height:inherit; 
	max-width:100%; 
	margin:0 auto;
}

.comporation.grey.darken-4 h3 {
    margin: 0px;
}

.comporation.grey.darken-4 {
    margin: 0px 0px -16px;
    padding: 5px 0px;
}

.mySlides {
	max-height: 500px;
}

.middeleImg {
	max-width: 100%;
	padding: 50% 0%;
	position: relative;
}

.headerContent {
    background: radial-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 50%);
    padding: 30px;
}

.w3-display-bottommiddle {
    margin-left: -20px;
}

.partyHeader span {
	display: inline-block;
}

/* .pin-bottom, .pin-top {
	position: relative;
}

.pinned {
	position: fixed !important;
} */

.card .card-image .card-title-top {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
}

.card .card-title-top {
    font-size: 24px;
    font-weight: 300;
}

.parallax-text {
	position: absolute;
	width: 100%;
}
h1.parallax-text {
	top: 20%;
	background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 65%);
}
h3.parallax-text{
	top: 50%;
	background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 65%);
}

/*.rotateN{ transform:rotate(90deg); }
.rotateS{ transform:rotate(-90deg); } */

@media (max-width: 600px) {

.bgimg, .bgimg2 {
    background-position: 70% 100% !important;
}

#wedding {
	padding-top: 16px!important;
    padding-bottom: 32px!important;
}

#us {
	padding-top: 32px!important;
    padding-bottom: 16px!important;
}

#wedding h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container.partyPage {
    padding: 0% 5% !important;
	background: none !important;
}

.partyPageBgrd {
    position: fixed;
    background: url('/images/peachbgrd.jpg');
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: -1;
}

#instagram_us {
	margin-top: 50px;
}
p.w3-center.w3-padding.regOptionP {
    font-size: 140%;
    margin: 0% 0%;
	color: black;
}

.section {
    padding-left: 5%;
    padding-right: 5%;
}
h1.parallax-text {
	top: 5%;
	background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 90%);
}
.pagination {
    margin: 22px auto;
    display: inline-table;
}
.pagination li.active {
    background-color: initial;
}
.pagination > li {
	display: inline-block;
}
.pagination > li > span {
	font-size: 40%;
}
.pagination > li > a {
	font-size: 40%;
}

.herStory {
	background: radial-gradient(circle, transparent 97%, gray, red) !important;
}
.hisStory {
	background: radial-gradient(circle, transparent 97%, gray, blue) !important;
}
.comporation.grey.darken-4 {
    margin: 0px 0px -16px;
}
.photosPageContainer {
	max-height:450px; 
	min-height:250px;
}

.photosPageContainer button.w3-display-left, .photosPageContainer div.w3-display-bottomleft {
	left:0;
}

.photosPageContainer button.w3-display-right {
	right:0;
}

.header {
	text-align: center;
}

h5.header {
	margin-bottom: 25px;
}
.contentBgrd {
    border-radius: 0px;
}
.guestAccomHeader {
	font-size: 35px !important;
}
.directionsDiv {
	margin: 0% 0% 5% !important;
    padding: 2% 0% !important;
}
.parallax-span {
	position: absolute;
    bottom: 2%;
    left: 2%;
    background: radial-gradient(circle, whitesmoke, rgba(245, 245, 245, 0.85), transparent 90%);
}
}